.navbar{
    width: 100%;
    height: 50px;
    background-color: white;
}

.navbarwrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: blue;
    cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.navbarIconContainer{
    position: relative;
}

.topiconBadge{
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}