.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(211, 211, 214);
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 15px;
}

